@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Sofia:400,700&effect=fire|neon|outline|emboss|shadow-multiple');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border: 1px solid #e87f34;
}

::-webkit-scrollbar-thumb {
  background: #ed9251;
  /* border-radius: 5px; */
}

::-webkit-scrollbar-thumb:hover {
  background: #f89a4d;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0px;
}

.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 1000;
}

.scroll-to-top-button.visible {
  display: block;
}

.scroll-to-top-button div {
  background-color: #e87f34;
  /* color: #fff; */
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 50px #ccc;
}

.scroll-to-top-button div:hover {
  background-color: #2e2f30;
  border: 1px solid white;
  color: #fff;
}

@layer utilities {
  .radial-gradient {
    background: radial-gradient(circle, #22212114, #000000c0);
  }
  .radial-gradient-2 {
    background: radial-gradient(circle, #03a8f42e, #01589bcf);
  }
  .welcome-page-collection-gradient {
    background: linear-gradient(to right, #aed9f3, #c0dff2, #d3e6f2);
  }
  .welcome-linear-gradient-category {
    background: linear-gradient(to right, #f5da6b, #f5e18e, #f5e8b1);
  }
  .welcome-page-collection-gradient2 {
    background: linear-gradient(to right, #f59f0b62, #e87f34, #f89a4d);
  }
  .brand-collection-button {
    @apply relative bg-transparent rounded-l-3xl;
  }
  .brand-collection-button::before {
    @apply content-['']
    absolute w-[100%] h-[100%] rounded-l-3xl
    bg-gradient-to-l from-[#c3623193] via-[#c3623169] to-orange-300 top-0 left-0
    transition-transform ease-in-out origin-right duration-300
    scale-x-0;
  }
  .brand-collection-button:hover::before {
    @apply origin-left scale-x-100 rounded-l-3xl;
  }
  .nav-header-before {
    background: linear-gradient(rgb(11, 9, 10), rgba(11, 9, 10, 0.85));
    box-shadow: rgba(255, 255, 255, 0.2) 0px 20px 60px -7px;
    transition: all 0.5s;
    z-index: 997;
  }
  .nav-header-after {
    box-shadow: 2px 31px 31px rgba(0, 40, 85, 0.4);
    background: rgba(0, 40, 85, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .top-bounce-effect {
    animation: nav-bounce 1.5s;
  }

  @keyframes nav-bounce {
    0% {
      top: 0;
    }
    50% {
      top: 18px;
      border-radius: 20px;
    }
    100% {
      top: 0;
      border-radius: 0px;
    }
  }

  .custom-shadow {
    box-shadow: 0px 40px 80px 0px rgba(2, 2, 26, 0.14);
  }
  .custom-clip-path {
    clip-path: circle(50%);
  }

  .inset-shadow {
    box-shadow: rgba(204, 219, 232, 0.376) 3px 3px 29px 0px inset,
      rgba(124, 179, 233, 0.4) -5px 5px, rgba(124, 179, 233, 0.3) -10px 10px,
      rgba(124, 179, 233, 0.2) -15px 15px, rgba(124, 179, 233, 0.1) -20px 20px,
      rgba(124, 179, 233, 0.05) -25px 25px;
  }
}
