@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border: 1px solid #e87f34;
}

::-webkit-scrollbar-thumb {
  background: #ed9251;
  /* border-radius: 5px; */
}

::-webkit-scrollbar-thumb:hover {
  background: #f89a4d;
}

@layer utilities {
  .radial-gradient {
    background: radial-gradient(circle, #c7baba4f, #000000c0);
  }
  .welcome-page-collection-gradient{
    background: linear-gradient(to right, #aed9f3 ,#c0dff2, #d3e6f2)
  }
  .welcome-linear-gradient-category{
    background: linear-gradient(to right, #f5da6b ,#f5e18e, #f5e8b1)
  }
  .welcome-page-collection-gradient2{
    background: linear-gradient(to right, #f59f0b62 ,#e87f34, #f89a4d)
  }
  .brand-collection-button {
    @apply relative bg-transparent rounded-l-3xl;
  }
  .brand-collection-button::before {
    @apply content-['']
    absolute w-[100%] h-[100%] rounded-l-3xl
    bg-gradient-to-l from-[#c3623193] via-[#c3623169] to-orange-300 top-0 left-0
    transition-transform ease-in-out origin-right duration-300
    scale-x-0;
  }
  .brand-collection-button:hover::before {
    @apply origin-left scale-x-100 rounded-l-3xl;
  }
}
